<h1>My tasks</h1>

<ul>
  <% @tasks.each do |task| %>
    <% if task.completed %>
      <% task_status = "x" %>
    <% else %>
      <% task_status = " " %>
    <% end %>
  <li>[<%= task_status %>] <%= link_to task.title, task_path(task.id) %></li>
  <% end %>
</ul>

<%= link_to "+ Create new task", tasks_new_path %>
